<div class="form-row">
  <div class="form-group col">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', id: 'dog-name' %>
  </div>
  <div class="form-group col">
    <%= f.label :breed %>
    <%= f.text_field :breed, class: 'form-control', id: 'breed' %>
  </div>
</div>
<div class="form-row">
  <div class="input-group col-sm-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Age</span>
    </div>
    <%= f.number_field :age, class: 'form-control', step: 0.1, 'aria-label': "Age", 'aria-describedby': "basic-addon1" %>
  </div>
  <div class="input-group col-sm-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon2">Sex</span>
    </div>
    <%= f.select :sex, options_for_select(Dog.sexes.map {|s| [s.first.titlecase, s.first]}), {}, {class: 'form-control', 'aria-label': "Sex", 'aria-describedby': "basic-addon2"} %>
  </div>
  <div class="form-group col-auto">
    <div class="custom-control custom-checkbox">
      <%# f.hidden_field :desexed, value: "0" %>
      <%= f.check_box :desexed, include_hidden: false, id: 'desexed', checked: true, class: 'custom-control-input' %>
      <%= f.label :desexed, class: 'custom-control-label', for: 'is-desexed' %>
    </div>
  </div>
</div>
<h5 class="mt-2">Services</h5>
<div class="form-row">
  <%# f.collection_check_boxes :services, Dog::SERVICES, :last, :first do |b| %>
  <%= f.collection_check_boxes :services, Dog::SERVICES, :itself, :itself do |b| %>
    <div class="custom-control custom-checkbox custom-control-inline">
    <%= b.check_box(class: 'custom-control-input') %>
    <%= b.label(class: 'custom-control-label') { b.text.to_s.humanize } %>
    </div>
  <% end %>
</div>

