<div class="form-row">
  <div class="form-group col">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', id: 'dog-name' %>
  </div>
  <div class="form-group col">
    <%= f.label :breed %>
    <%= f.text_field :breed, class: 'form-control', id: 'breed' %>
  </div>
</div>
<div class="form-row">
  <div class="form-group col">
    <%= f.label :age %>
    <%= f.text_field :age, class: 'form-control', 'aria-label': "Age", 'aria-describedby': "ageHelp" %>
    <small id="ageHelp" class="form-text text-muted">E.g. 1.5, 3/2018, 13/7/2019, 2y4m</small>
  </div>
  <div class="form-group col">
    <%= f.label :sex %>
    <%= f.select :sex, options_for_select(Dog.sexes.map {|s| [s.first.titlecase, s.first]}), {}, {class: 'form-control', 'aria-label': "Sex", 'aria-describedby': "sexHelp"} %>
  </div>
  <div class="form-group col-auto">
    <div class="custom-control custom-checkbox mt-4">
      <%= f.check_box :desexed, class: 'custom-control-input' %>
      <%= f.label :desexed, class: 'custom-control-label' %>
    </div>
  </div>
</div>
<h5 class="mt-2">Services</h5>
<div class="form-row">
  <%= f.collection_check_boxes :services, Dog::SERVICES, :itself, :itself do |b| %>
    <div class="custom-control custom-checkbox custom-control-inline">
    <%= b.check_box(class: 'custom-control-input', checked: ('checked' if (f.object && f.object.services_a.find_index(b.value.to_s).present?))) %>
    <%= b.label(class: 'custom-control-label') { b.text.to_s.humanize } %>
    </div>
  <% end %>
</div>

