<div class="col-sm-9">
  <h2><%= @dog.name %> <small class="text-muted">(<%= link_to @dog.client.fullname, @dog.client, class: 'text-reset' %>)</small></h2>
  <p><%= @dog.describe %></p>
  <div class="list-group list-group-horizontal" role="tablist">
    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#intake" role="tab">Intake Form</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#notes" role="tab">
      Notes <span class="badge badge-secondary" id="note-count"><%= @dog.notes.count %></span></a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#documents" role="tab">
      Documents <span class="badge badge-secondary">0</span></a>
  </div>
  <div class="tab-content p-2 border">
    <div class="tab-pane active" id="intake", role="tabpanel">
      <%= render 'intake_form/form' %>
    </div>
    <div class="tab-pane" id="notes", role="tabpanel">
      <%= render 'notes/notes' %>
    </div>
    <div class="tab-pane" id="documents", role="tabpanel">
      <p>Documents are listed here</p>
    </div>
  </div>
</div>
<div class="col-sm-2 order-first">
  <%= link_to 'Client', client_path(@dog.client), class: 'btn btn-primary btn-sm' %>
  <%= link_to 'Home', root_path, class: 'btn btn-secondary btn-sm' %>
</div>