<% has_tt = @dog.services_a.find_index('trust_technique') %>
<div class="col-sm-9">
  <h2><%= @dog.name %> <small class="text-muted">(<%= link_to @dog.client.fullname, @dog.client, class: 'text-reset' %>)</small></h2>
  <p>
    <%= @dog.describe %><br>
    <% @dog.services_a.each do |service| %>
      <span class="badge badge-secondary"><%= service.to_s.humanize %></span>
    <% end %>
    <%= link_to 'Edit', edit_dog_path(@dog), class: 'btn btn-primary btn-sm float-right' %>
  </p>

  <div class="list-group list-group-horizontal" role="tablist">
    <% if has_tt %>
      <a class="list-group-item list-group-item-action active" data-toggle="list" href="#intake" role="tab">Intake Form</a>
    <% end %>
    <a class="list-group-item list-group-item-action<%= ' active' unless has_tt %>" data-toggle="list" href="#notes" role="tab">
      Notes <span class="badge badge-secondary" id="note-count"><%= @dog.notes.count %></span></a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#documents" role="tab">
      Documents <span class="badge badge-secondary" id="docs-count"><%= @dog.documents.count %></span></a>
  </div>
  <div class="tab-content p-2 border">
    <% if has_tt %>
      <div class="tab-pane active" id="intake", role="tabpanel">
        <%= render 'intake_form/form' %>
      </div>
    <% end %>
    <div class="tab-pane<%= ' active' unless has_tt %>" id="notes", role="tabpanel">
      <%= render 'notes/notes' %>
    </div>
    <div class="tab-pane" id="documents", role="tabpanel">
          <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#uploadModal">
            Upload file
          </button>
          <%= render 'documents', model: @dog %>
    </div>
  </div>
</div>
<div class="col-sm-2 order-first">
  <%= link_to 'Client', client_path(@dog.client), class: 'btn btn-primary btn-sm' %>
  <%= link_to 'Home', root_path, class: 'btn btn-secondary btn-sm' %>
</div>


<!-- Document Upload Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalCenterTitle">Upload file</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'upload_form', model: @dog %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary modal-submit" data-dismiss="modal">Upload file</button>
      </div>
    </div>
  </div>
</div>