<div class="row">
  <div class="col-sm-6">
    <h3>Address</h3>
  </div>
</div>
<div class="row">
  <div class="field form-group col-sm-4">
    <%= f.label :street1, class: 'control-label' %>:&nbsp;
    <%= f.text_field :street1, class: 'form-control' %>
  </div>
  <div class="field form-group col-sm-4">
    <%= f.label :street2, class: 'control-label' %>:&nbsp;
    <%= f.text_field :street2, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="field form-group col-sm-4">
    <%= f.label :suburb, class: 'control-label' %>:&nbsp;
    <%= f.text_field :suburb, class: 'form-control' %>
  </div>
  <div class="field form-group col-sm-4">
    <%= f.label :postcode, class: 'control-label' %>:&nbsp;
    <%= f.text_field :postcode, class: 'form-control' %>
  </div>
</div>
