<%= form_with model: @client, local: true do |form| %>
 
  <% if @client.errors.any? %>
    <div class="row">
      <div class="alert alert-danger alert-dismissable col-sm-9" role="alert" id="error-explanation">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>
          <%= pluralize(@client.errors.count, "error") %> prohibited
          this client from being saved:
        </h3>
        <ul>
          <% @client.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <div class="form-row">
    <div class="form-group col">
      <%= form.label :firstname %>
      <%= form.text_field :firstname, class: 'form-control', id: 'firstname' %>
    </div>
   
    <div class="form-group col">
      <%= form.label :surname %>
      <%= form.text_field :surname, class: 'form-control', id: 'surname' %>
    </div>
  </div>
  <div class="form-row">
    <div class="field form-group col-sm-6">
      <%= form.label :phone_number %>
      <%= form.telephone_field :phone_number, class: 'form-control', id: 'phone_number' %>
    </div>
   
    <div class="field form-group col-sm-6">
      <%= form.label :email_address %>
      <%= form.email_field :email_address, class: 'form-control', id: 'email_address' %>
    </div>
  </div>

  <h4>Address</h4>

  <%= form.fields_for :address, @client.address do |addr| %>
    <%= render 'addresses/fields', f: addr %>
  <% end %>

  <% if @client.new_record? %>
    <h4><%= 'Dog'.pluralize((@client.dogs.count <= 1) ? 1 : 2) %></h4>
    <%= form.fields_for :dogs, @client.dogs.build(desexed: true) do |dog| %>
      <%= render 'dogs/fields', f: dog %>
    <% end %>
  <% end %>
  
  <div class="form-row">
    <div class="actions form-group mt-3">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>
