<%# We're inside a col-sm-10 col-sm-offset-2 here. %>
<%= form_with model: @client, html: {role: "form"}, local: true do |form| %>
 
  <% if @client.errors.any? %>
    <div class="row">
      <div class="alert alert-danger alert-dismissable col-sm-9" role="alert" id="error_explanation">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>
          <%= pluralize(@client.errors.count, "error") %> prohibited
          this client from being saved:
        </h3>
        <ul>
          <% @client.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="field form-group col-sm-6">
          <%= form.label :firstname, class: 'control-label' %>
          <%= form.text_field :firstname, class: 'form-control' %>
        </div>
       
        <div class="field form-group col-sm-6">
          <%= form.label :surname, class: 'control-label' %>
          <%= form.text_field :surname, class: 'form-control' %>
        </div>
      

        <div class="field form-group col-sm-6">
          <%= form.label :phone_number, class: 'control-label' %>
          <%= form.telephone_field :phone_number, class: 'form-control' %>
        </div>
       
        <div class="field form-group col-sm-6">
          <%= form.label :email_address, class: 'control-label' %>
          <%= form.email_field :email_address, class: 'form-control' %>
        </div>
    
        <div class="col-sm-12">
          <h3>Address</h3>
        </div>
        <%= form.fields_for :address do |addr| %>
          <%= render 'addresses/fields', f: addr %>
        <% end %>
        
        <div class="col-sm-12">
          <h3><%= 'Dog'.pluralize((@client.dogs.count <= 1) ? 1 : 2) %></h3>
        </div>
        <%= form.fields_for :dogs do |dog| %>
          <%= render 'dogs/fields', f: dog %>
        <% end %>
        
        <% if not @attendee.nil? %>
          <div class="col-sm-12">
            <h3>Session Details</h3>
          </div>
          <%= form.fields_for :events, @attendee.build_event do |event| %>
            <%= render 'events/fields', f: event %>
          <% end %>
        <% end %>

      </div>
    </div>
    <div class="col-sm-4">
      <%= form.fields_for :notes do |note| %>
        <%= render 'notes/fields', f: note %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="actions form-group">
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
