<div class="col-sm-2">
  <%= link_to 'New Client', new_client_path, class: 'btn btn-primary' %>
</div>
<div class="col-sm-8 mt-2">
  <h1>Client list</h1>

  <table class="table table-striped">
    <tr>
      <th>Client name</th>
      <th>Phone #</th>
      <th>Client's Dogs</th>
      <th></th>
    </tr>
   
    <% @clients.order(:surname, :firstname).each do |client| %>
      <tr>
        <td><%= link_to client.fullname, client_path(client), class: 'text-reset' %></td>
        <td><%= client.phonenum_format %></td>
        <td><%= client.dogs.map {|d| link_to d.name, dog_path(d) }.join(' &bull; ').html_safe %></td>
        <td><%= link_to 'Edit', edit_client_path(client), class: 'btn btn-warning btn-sm' %></td>
      </tr>
    <% end %>
  </table>
</div>
