<div class="col-sm-8 col-sm-offset-2">
  <div class="row">
    <div class="col-sm-12" id="client-name">
      <h2><%= @client.firstname %> <strong><%= @client.surname %></strong></h2>
    </div>
    <div class="col-sm-6">
      <h3><span class="label label-primary">Phone</span>
      <%= @client.phonenum_format %></h3>
    </div>
    <div class="col-sm-6">
        <h3><span class="label label-primary">Email</span> <%= @client.email_address %></h3>
    </div>
    <div class="col-sm-6">
      <h3><span class="label label-primary">Address</span></h3>
      <%= render @client.address if @client.address %>
    </div>
    <div class="col-sm-6">
      <h3><span class="label label-primary">Notes</span></h3>
      <%= render @client.notes %>
    </div>
    <div class="col-sm-7">
      <h3><span class="label label-primary"><%= 'Dog'.pluralize((@client.dogs.count <= 1) ? 1 : 2) %></span></h3>
      <table class="table">
        <%= render @client.dogs %>
      </table>
    </div>
    <div class="col-sm-5">
      <h3><span class="label label-primary">Sessions</span></h3>
      <table class="table">
        <%= render @client.events %>
      </table>
    </div>
    <div class="col-sm-12">
      <hr/>

      <h4><span class="label label-info">Add a dog:</span></h4>
      <%= render 'dogs/form' %>

      <hr/>

      <h4><span class="label label-info">Add a note:</span></h4>
      <%= render 'notes/form' %>
      
      <hr/>

      <%= link_to 'Edit', edit_client_path(@client), class: 'btn btn-success' %>
      <%= link_to 'Add Session', new_client_event_path(@client), class: 'btn btn-primary' %>
      <%= link_to 'Back', :back, class: 'btn btn-primary' %>
      <%= link_to 'Home', root_path, class: 'btn btn-info' %>
    </div>
  </div>
</div>
