<div class="col-sm-10">
  <div class="row">
    <div class="col-sm-12" id="client-name">
      <p>
        <span class="h3"><%= @client.firstname %> <strong><%= @client.surname %></strong></span>
      </p>
    </div>
    <div class="col-auto text-info">
      <p>
        <%= inline_address(@client.address) %>
      </p>
    </div>
    <div class="col mx-auto text-info text-center">
      <p>
        <%= @client.phonenum_format %>
      </p>
    </div>
    <div class="col text-info text-right">
      <p>
        <%= mail_to(@client.email_address, nil, class: 'text-reset') %>
      </p>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <div class="list-group list-group-horizontal" role="tablist">
        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#dogs" role="tab">
          Dogs <span class="badge badge-secondary" id="dogs-count"><%= @client.dogs.count %></span></a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="#notes" role="tab">
          Notes <span class="badge badge-secondary" id="note-count"><%= @client.notes.count %></span></a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="#documents" role="tab">
          Documents <span class="badge badge-secondary" id="docs-count"><%= @client.documents.count %></span></a>
      </div>
      <div class="tab-content p-2 border">
        <div class="tab-pane active" id="dogs" role="tabpanel">
          <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#dogModal">
            Add dog
          </button>
          <div>
            <div class="row" id="dogs-container">
              <%= render @client.dogs %>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="notes" role="tabpanel">
          <%= render 'notes/notes' %>
        </div>
        <div class="tab-pane" id="documents" role="tabpanel">
          <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#uploadModal">
            Upload file
          </button>
          <%= render 'documents', model: @client %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-2 order-first">
  <%= link_to 'Home', root_path, class: 'btn btn-secondary btn-sm' %>
</div>

<!-- New Dog Modal -->
<div class="modal fade" id="dogModal" tabindex="-1" role="dialog" aria-labelledby="dogModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dogModalCenterTitle">New dog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'dogs/form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary modal-submit" data-dismiss="modal">Add dog</button>
      </div>
    </div>
  </div>
</div>

<!-- Document Upload Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalCenterTitle">Upload file</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'upload_form', model: @client %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary modal-submit" data-dismiss="modal">Upload file</button>
      </div>
    </div>
  </div>
</div>