<% @event = @attendee.build_event unless @attendee.nil? %>
<%= form_with model: @client, html: {role: "form"}, local: true do |form| %>

  <%
    @event_select_types = Hash.new
    Event.event_types.keys.each {|e| @event_select_types[e.titleize] = e}
  %>
  <% if @event.errors.any? %>
    <div class="row">
      <div class="alert alert-danger alert-dismissable col-sm-9" role="alert" id="error_explanation">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>
          <%= pluralize(@event.errors.count, "error") %> prohibited
          this event from being saved:
        </h3>
        <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <%= form.fields_for :events, @event do |event| %>
      <%= render 'events/fields', f: event %>
    <% end %>
  </div>
  
  <div class="row">
    <div class="actions form-group col-sm-12">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
 
<% end %>
